{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title%} FAQs {% endblock title%}

{% block content %}
<div class="h-screen w-full px-6 py-10 bg-theme">
    <div class="bg-white h-full flex flex-col shadow-xl">
        <div class="p-3 overflow-y-auto scrollbar-hide">
            <p class="text-center text-2xl font-semibold pt-2 pb-6">FAQs</p>

            <div class="w-full flex justify-end py-2">
                <a href="{% url 'add_faqs' %}" class="bg-custom-green px-8 py-2 text-white rounded-md mx-1 border">Add FAQ</a>
            </div>
            
            {% for faq in faqs %}
                <div class="w-3/5 flex flex-col mx-auto rounded-lg bg-theme p-5 shadow-md text-lg mb-16">
                    <div class="mb-4">
                        {{ faq.question }}
                    </div>
                    <hr class="mb-4">
                    <div>
                        {{ faq.answer }}
                    </div>
                    <div class="w-full flex mt-4 justify-end">
                        <a  href="{% url 'delete_faq' faq.id %}"><button class="py-1 px-6 bg-danger text-white rounded-md text-lg mr-4"  onclick="return ConfirmDelete()">Delete</button></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    function ConfirmDelete() {
      return confirm("Are you sure you want to delete?");
    }
</script>
{% endblock content %}