{% extends 'base/base.html' %}
{% load static %}
{% load user_group %}

{% block title%} Host Profile {% endblock title%}

{% block content %}
<div class="flex flex-col h-screen px-6 py-10 w-full bg-theme">
    <p class="text-center text-3xl font-semibold pt pb-4">Profile</p>
    <div class="flex flex-row h-full gap-6">
        <div class="bg-white h-full flex flex-col w-1/3 py-12 rounded-xl justify-between shadow-xl">
            <img src="{{ user.host.pic.url }}" style="object-fit: contain" alt="" class="mx-auto mb-5 w-40 h-40 object-cover rounded-full ">
            <div class="flex flex-col bg-theme  mx-8 p-8 text-lg rounded-xl">
                <div class="flex mb-5">
                    <p class="font-medium">Name:</p>
                    <p class="ml-3">{{ user.host.first_name }} {{ user.host.last_name }}</p>
                </div>

                <div class="flex mb-5">
                    <p class="font-medium">Email:</p>
                    <p class="ml-3">{{ user.host.email }}</p>
                </div>

                <div class="flex mb-5">
                    <p class="font-medium">Contact Number:</p>
                    <p class="ml-3">{% if user.host.phone_number %}{{user.host.phone_number}}{% else %}N/A{% endif %}</p>
                </div>

                <div class="flex">
                    <p class="font-medium">Address:</p>
                    <p class="ml-3">{% if user.host.address %}{{user.host.address}}{% else %}N/A{% endif %}</p>
                </div>

            </div>
            <div class="flex flex-col bg-theme mb-4 mx-8 p-8 text-lg justify-between rounded-xl">
                <div class="flex">
                    <p class="font-medium">Citizenship Status:</p>
                    <p class="ml-3"></p>
                </div>
            </div> 

            <div class="flex mx-8 text-lg justify-between">
                <a href="{% url 'host_update_profile' %}"> <button class="py-1.5 px-6 btn">Update Profile</button></a>
                <button class="py-1.5 px-6 btn">Change Password</button>

            </div>
        </div>

        <div class="bg-white h-full flex flex-col w-2/3 justify-between rounded-xl shadow-xl">
            <div class="flex flex-col bg-theme m-10 p-8 text-lg rounded-xl h-full relative">
                <div class="flex mb-3">
                    <p class="font-medium">Citizenship ID:</p>
                    <p class="ml-3">{% if user.host.citizenship_id %}{{user.host.citizenship_id}}{% else %}N/A{% endif %}</p>
                </div>
                <div class="flex">
                    <p class="mb-12"><img src="{{ user.host.citizenship.url }}" alt="" class="h-72 w-auto border-black"></p>
                </div>

                <div class="flex mb-6 mr-6 right-0 bottom-0 absolute">
                    <a  href="{% url 'host_upload_documents' %}"><button class="py-1.5 px-6 btn">Upload Documents</button></a>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock content %}