{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title%} Add Terms and Conditions {% endblock title%}

{% block content %}
<div class="h-screen w-full px-6 py-10 bg-theme">
    <div class="bg-white h-full flex flex-col shadow-xl">
        <div class="p-3 overflow-y-auto scrollbar-hide">
            <p class="text-center text-2xl font-semibold pt-2 pb-6">Add Terms and Conditions</p>

            <div class="w-3/6 mx-auto items-center overflow-y-auto">
                <form action="{% url 'add_terms_and_conditions' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="flex flex-col">
                        <label class="mb-2 mt-4">Term </label>
                        {% render_field form.term class="input-fields mb-4 required" %}

                        <label class="mb-2 mt-4">Explanation </label>
                        {% render_field form.explanation class="input-fields resize-none w-full required" rows="4"  %}
                    </div>


                    <div class="flex justify-end mt-6">
                        <button class="btn py-1.5 px-6" type="submit">Add Terms and Conditions</button>
                        <a href="{{request.META.HTTP_REFERER}}" class="bg-danger px-6 py-1.5 text-white rounded-md mx-1 border no-underline"> Cancel</a>
                    </div>

                    
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}