{% extends 'base/header.html' %}
{% load static %}
{% load user_group %}

{% block title%} View Vehicles {% endblock title%}

{% block content %}
<div class="h-screen w-full px-6 py-10 bg-theme overflow-y-auto hide-scrolllbar">
    <div class="p-3 overflow-y-auto mt-24 scrollbar-hide">
        <p class="text-center text-3xl font-semibold pt-2 pb-4">All Vehicles</p>

        <div class="w-4/5 mx-auto flex flex-wrap">

        {% if vehicle_list %}
            {% for vehicle in vehicle_list %}
                {% if vehicle.host %}
                <div class="flex flex-col mx-auto rounded-lg bg-theme p-5 shadow-md text-lg mb-16 h-128" style="width:30%;">
                    <a href="{% url 'vehicle_details' vehicle.id %}">
                    <div class="flex flex-col mb-6 w-full h-auto">
                        <img src="{{ vehicle.image1.url }}" class="w-96 h-60 mx-auto object-contain"/>
                    </div>
                    <div class="flex flex-col mb-4 text-xl">
                        <div class="flex flex-row justify-between mb-4">
                            <div>
                                <span class="font-medium">Location: </span>{{ vehicle.location }}
                            </div>
                        </div>
                        <div class="flex flex-row justify-between mb-4">
                            <div>
                                <span class="font-medium">Type: </span>{{ vehicle.type }}
                            </div>
                        </div>
                        <div class="flex flex-row justify-between">
                            <div>
                                <span class="font-medium">Rating: </span>{{ vehicle.id|get_rating }}
                            </div>
                        </div>
                    </div>
                    <hr class="bottom-4 h-1 bg-black" style="margin-top: 30px;">
                    <div class="mb-4 mt-4 w-full flex justify-end">
                        <span class="font-bold text-xl">Rs. {{ vehicle.price }} /day</span>
                    </div>
                </a>    
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p class="text-center pt-20 text-2xl text-dark-gray">No Vehicles to display</p>
        {% endif %}
    </div>
    </div>
</div>
{% endblock content %}