{% extends 'base/header.html' %}
{% load static %}
{% load user_group %}

{% block title%} Travelogues {% endblock title%}

{% block content %}
<div class="h-screen w-full px-6 py-10 bg-theme overflow-y-auto hide-scrollbar">
    <div class="w-4/5 mx-auto h-auto mt-24">
        <div class="p-3 overflow-y-auto scrollbar-hide">
            <p class="text-center text-3xl font-semibold pb-4">Travelogues</p>
            {% if request.user.is_authenticated and user|has_group:'enduser' %}
                <div class="w-full flex justify-end">
                    <a href="{% url 'submit_travelogue' %}" class="px-6 py-2 bg-custom-green text-white rounded-md ">Submit travelogue</a>
                </div>
            {% endif %}

            {% if travelogues_list %}
                {% for travelogue in travelogues_list %}
                    {{ travelogue.title }}
                    {{ travelogue.description }}
                    <img src="{{ travelogue.image1.url }}" />
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}