@import url('https://fonts.googleapis.com/css2?family=Acme&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.nav-bar-items{
    @apply hover:bg-white hover:text-black px-6 w-full py-2 rounded-lg mt-1 flex  no-underline
}

 .nav-bar-items:hover img{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
} 

.nav-bar-li{
    @apply px-5 w-full py-2 mt-1
}

.active{
    @apply bg-white text-black 
}

.active img{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.input-fields{
    @apply rounded-md py-3 mb-10 bg-theme border-theme shadow-sm shadow-dark-gray
}