{% extends 'base/base.html' %}
{% load static %}

{% block title%} View Transactions {% endblock title%}

{% block content %}
    <div class="h-screen w-full px-6 py-10 bg-theme">
        <div class="bg-white h-full flex flex-col shadow-xl relative">
            <div class="p-5">
                <p class="text-center text-2xl font-semibold pt-2 pb-6">All Transactions</p>
                {% if data is not None %}
                    <table class="w-full">
                        <thead class="h-16 text-center">
                            <tr class="bg-black text-white text-xl">
                                <th class="font-medium">Host</th>
                                <th class="font-medium">Amount</th>
                                <th class="font-medium">Transaction Id</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                        {% for transaction in data.object_list %}
                            <tr class="text-xl h-14">
                                <td>{{ transaction.host }}</td>
                                <td>{{ transaction.amount }}</td>
                                <td>{{ transaction.t_id }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}    
            </div>

            <div class="flex flex-col h-20 w-full bg-pagination-gray bg-opacity-70 bottom-0 justify-center absolute">
                <div class="w-full flex flex-row justify-center">
                    {% if data.has_previous %}
                        <button class="table-pagination">
                            <a class="page-link" href="?page=1">&laquo; first</a>
                        </button>
                        <button class="table-pagination">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </button>
                    {% endif %}

                    <div class="m-2 py-2 px-6">
                        Page {{ data.number }} of {{ data.paginator.num_pages }}.
                    </div>

                    {% if data.paginator.num_pages > 1  %}
                    <div class="flex flex-row items-center relative">
                        <input type="text" style="width:80px;" class="rounded-md m-2 py-2" onchange=window.location="?page="+this.value >
                        <img src="{% static 'images/search.svg' %}" style="height:25px;" role="button" class="mt-1.5 mr-3 absolute right-0 w-8 h-8 cursor-pointer" onchange=window.location="?page="+this.value>
                    </div>
                    {% endif %}
                    {% if data.has_next %}
                        <button class="table-pagination">
                            <a class="page-link" href="?page={{ data.next_page_number }}">Next</a>
                        </button>
                        <button class="table-pagination">
                            <a class="page-link" href="?page={{ data.paginator.num_pages }}">Last &raquo;</a>
                        </button>
                    {% endif %}
                </div>
            </div>
        
        </div>
    </div>
{% endblock %}