{% extends 'base/base.html' %}
{% load static %}

{% block title%} View Transactions {% endblock title%}

{% block content %}
    <div class="h-screen w-full px-6 py-10 bg-theme">
    <div class="bg-white h-full flex flex-col shadow-xl">
        <div class="p-3">
            <p class="text-center text-2xl font-semibold pt-2 pb-4">All Transactions</p>
    {% if transactions %}
        <table class="w-full">
            <thead class="h-16 text-center">
                <tr class="bg-black text-white text-xl">
                    <th class="font-medium">Transaction Id</th>
                    <th class="font-medium">Amount</th>
                    <th class="font-medium">Host</th>
                </tr>
            </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.t_id }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.host }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>
        </div>
        </div>
    {% endif %}
{% endblock %}