{% extends 'base/base.html' %}
{% load static %}

{% block title%} Verify Users {% endblock title%}

{% block content %}
<div class="h-screen w-full px-6 py-10 bg-theme">
    <div class="bg-white h-full flex flex-col shadow-xl">
        <div class="p-3">
            <p class="text-center text-2xl font-semibold pt-2 pb-4">Verify Users</p>
            <div class="h-16 w-full flex justify-end ">
                <form method="get">
                </form>
            </div>
            <div class="w-full flex flex-row">
                <div class="flex">
                    <button class="py-2 px-6 bg-medium-gray border-t-2 border-x-2 border-dark-gray rounded-t-xl font-semibold" id="toggle_endusers">End Users</button>
                </div>

                <div class="flex">
                    <button class="py-2 px-6 bg-medium-gray border-t-2 border-x-2 border-dark-gray rounded-t-xl" id="toggle_hosts">Hosts</button>
                </div>
            </div>

            <div id="endusers">
                {% if datae is not None %}
                <table class="w-full">
                    <thead class="h-16 text-center">
                        <tr class="bg-black text-white text-xl">
                            <th class="font-medium">Name</th>
                            <th class="font-medium">Citizenship Id</th>
                            <th class="font-medium">Citizenship</th>
                            <th class="font-medium">License ID</th>
                            <th class="font-medium">License</th>
                            <th class="font-medium">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        {% for u in datae.object_list %}
                        <tr class="text-xl h-14">
                            <td>{{ u.first_name }} {{ u.last_name }}</td>
                            <td>{{ u.citizenship_id }}</td>
                            <td><a href="{{ u.citizenship.url }}" target="_blank" style="color: blue; text-decoration: underline;">Citizenship Image</a></td>
                            <td>{{ u.license_no }}</td>
                            <td><a href="{{ u.license.url }}" target="_blank" style="color: blue; text-decoration: underline;">License Image</a></td>
                            <td>
                                <div class="flex flex-row justify-center">
                                    <form action="{% url 'approve_enduser' u.id %}" method="post" style="margin-bottom: 0px;">
                                        {% csrf_token %}
                                        <button type="submit" class="bg-custom-green px-4 py-1.5 mr-4 text-white rounded-lg"> Approve</button>
                                    </form>
                                    <form action="{% url 'reject_enduser' u.id %}" method="post" style="margin-bottom: 0px;">
                                        {% csrf_token %}
                                        <button type="submit" class="bg-danger px-4 py-1.5 mr-4 text-white rounded-lg">Reject</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                    <div class="pagination justify-content-center align-items-center">
                {% if datae.has_previous %}
                    <a class="page-link" href="?page=1">&laquo; first</a>
                    <a class="page-link" href="?page={{ page_obje.previous_page_number }}">Previous</a>
                {% endif %}


                <span style="margin: 0px 3px;">
                    Page {{ datae.number }} of {{ datae.paginator.num_pages }}.
                </span>


                {% if datae.paginator.num_pages > 1  %}
                <div class="flex flex-row items-center relative">
                    <input type="text" style="width:80px;" class="rounded-pill" onchange=window.location="?page="+this.value >
                    <img src="{% static 'images/search.svg' %}" style="height:25px;" role="button" class="absolute right-0" onchange=window.location="?page="+this.value>
                </div>
                {% endif %}
                {% if datae.has_next %}
                    <a class="page-link" href="?page={{ datae.next_page_number }}">Next</a>
                    <a class="page-link" href="?page={{ datae.paginator.num_pages }}">Last &raquo;</a>
                {% endif %}
        </div>
                {% else %}
                    <p class="text">All End User are verified.</p>
                {% endif %}
            </div>

            <div id="hosts" style="display: none;">
                {% if datah is not None %}
                <table class="w-full">
                    <thead class="h-16 text-center">
                        <tr class="bg-black text-white text-xl">
                            <th class="font-medium">Citizenship Id</th>
                            <th class="font-medium">Citizenship</th>
                            <th class="font-medium">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        {% for u in datah %}
                        <tr>
                            <td>{{ u.citizenship_id }}</td>
                            <td><a href="{{ u.citizenship.url }}"><img src="{{ u.citizenship.url }}" class="w-28 h-auto mx-auto"></a></td>
                            <td>
                                <div class="flex flex-row justify-center items-center">
                                    <form action="{% url 'approve_host' u.id %}" method="post" style="margin-bottom: 0px;">
                                        {% csrf_token %}
                                        <button type="submit" class="bg-custom-green px-4 py-1.5 mr-4 mb-0 text-white rounded-lg">Approve</button>
                                    </form>
                                    <form action="{% url 'reject_host' u.id %}" method="post" style="margin-bottom: 0px;">
                                        {% csrf_token %}
                                        <button type="submit" class="bg-danger px-4 py-1.5 mr-4 text-white rounded-lg">Reject</button>
                                    </form>
                                </div>
                                
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                    <div class="pagination justify-content-center align-items-center">
                    {% if datah.has_previous %}
                        <a class="page-link" href="?page=1">&laquo; first</a>
                        <a class="page-link" href="?page={{ page_objh.previous_page_number }}">Previous</a>
                    {% endif %}

                    <span style="margin: 0px 3px;">
                        Page {{ datah.number }} of {{ datah.paginator.num_pages }}.
                    </span>

                    {% if datah.paginator.num_pages > 1  %}
                    <div class="flex flex-row items-center relative">
                        <input type="text" style="width:80px;" class="rounded-pill" onchange=window.location="?page="+this.value >
                        <img src="{% static 'images/search.svg' %}" style="height:25px;" role="button" class="absolute right-0" onchange=window.location="?page="+this.value>
                    </div>
                    {% endif %}
                    {% if datah.has_next %}
                        <a class="page-link" href="?page={{ datah.next_page_number }}">Next</a>
                        <a class="page-link" href="?page={{ datah.paginator.num_pages }}">Last &raquo;</a>
                    {% endif %}
                </div>
                {% else %}
                    <p class="text">All Hosts are verified.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>
    const targetDiv1 = document.getElementById("endusers");
    const btn1 = document.getElementById("toggle_endusers");
    const targetDiv2 = document.getElementById("hosts");
    const btn2 = document.getElementById("toggle_hosts");
    btn1.onclick = function () {
        targetDiv1.style.display = "block";
        targetDiv2.style.display = "none";
        btn1.style.fontWeight = "600";
        btn2.style.fontWeight = "400";
    };
    btn2.onclick = function () {
        targetDiv2.style.display = "block";
        targetDiv1.style.display = "none";
        btn2.style.fontWeight = "600";
        btn1.style.fontWeight = "400";
    };
</script>
{% endblock %}