{% extends 'base/base_header.html' %}
{% load widget_tweaks %}

{% block title%} Register Host {% endblock title%}


{% block body %}
<div class="flex justify-center items-center my-auto mx-auto h-full">
    <div class="w-full bg-white  px-20 py-12 mx-auto my-auto rounded-xl shadow-2xl shadow-black">
        <div class="flex flex-col text-xl">
            <p class="text-center font-bold text-4xl pb-12">Become a renter</p>
            <form action="" method="post">
                {% csrf_token %}
                <div class="text-xl text-dark-gray w-full">
                    <div class="flex flex-row">
                        <div class="flex flex-col">
                            <label class="mb-3">First Name</label>
                            {% render_field form.first_name class="mr-5 input-fields" %} 
                        </div>
                        
                        <div class="flex flex-col">
                            <label class="mb-3">Last Name</label>
                            {% render_field form.last_name  class="input-fields"%}
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <label class="mb-3">Email</label>
                        {% render_field form.email class="input-fields" %}  

                        <label class="mb-3">Password</label>
                        <input type="password" name="password" class="input-fields"/>

                        <input type="submit" value="Sign Up" class="bg-black text-white py-3 mt-5 rounded-md shadow-md shadow-dark-gray "/>
                    </div>
                    
                </div>
                <div class="flex justify-center pt-16 text-dark-gray">
                    <span>Already have an account? <a href="{% url 'login' %}" class="font-medium text-black text-justify">Log In</a></span>
                </div>
                
            </form>
        </div>
    </div>
</div>
{% endblock body %}