<!DOCTYPE html>
{% load static tailwind_tags%}
{% load user_group %}
{% load widget_tweaks %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Register End User</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    {% tailwind_css %}
</head>
<body class="bg-theme max-h-screen font-poppins">
    <div class="flex flex-col h-screen relative">
        <div class="flex flex-row justify between text-white bg-black h-24 w-full"  id="land-header">
            <div class="flex my-auto mx-5 w-3/4">
                <a href="{% url 'home' %}" class="text-4xl font-semibold">YATRA</a>
            </div>
        </div>

        <div class="flex justify-center items-center my-auto mx-auto h-full">
            {% if messages %}
                <div class= " absolute animate-right-to-left right-0 top-0" style="display: flex; width: 100%; justify-content: flex-end; margin-top:96px;">
                    {% for message in messages %}
                        <div class=" p-3 {{ message.tags }} mt-2 mr-6 " id="msg" role="alert" >
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="w-full bg-white  px-20 py-12 mx-auto my-auto rounded-xl shadow-2xl shadow-black">
                <div class="flex flex-col text-xl">
                    <p class="text-center font-bold text-4xl pb-12">Become a renter</p>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="text-xl text-dark-gray w-full">
                            <div class="flex flex-row mb-4">
                                <div class="flex flex-col">
                                    {% render_field form.first_name class="mr-5 input-fields required" placeholder='First Name' %} 
                                </div>
                                
                                <div class="flex flex-col">
                                    {% render_field form.last_name  class="input-fields required" placeholder='Last Name' %}
                                </div>
                            </div>
                            <div class="flex flex-col">
                                {% render_field form.phone_number class="input-fields required" placeholder='Contact Number' pattern="^9[0-9]{9}" %}  
                                
                                {% render_field form.email class="input-fields mt-4 required" placeholder='Email' pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" %}  

                                <input type="password" name="password" required class="input-fields mt-4" placeholder="Password"/>

                                <input type="submit" value="Sign Up" class="bg-black text-white py-3 mt-5 rounded-md shadow-md shadow-dark-gray " required/>
                            </div>
                            
                        </div>
                        <div class="flex justify-center pt-16 text-dark-gray">
                            <span>Already have an account? <a href="{% url 'login' %}" class="font-medium text-black text-justify">Log In</a></span>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    setTimeout(function(){
        if ($('#msg').length > 0) {
            $('#msg').remove();
        }
    },4000);
</script>
</html>