{% extends 'base/base.html' %}
{% load static %}
{% load only_name %}

{% block title%} Travelogues Uploaded {% endblock title%}

{% block content %}
<div class="h-screen w-full px-6 py-10 bg-theme">
    <div class="bg-white h-full flex flex-col shadow-xl ">
        <div class="p-3 overflow-y-auto scrollbar-hide">
            <p class="text-center text-2xl font-semibold pt-2 pb-6">Uploaded Travelogues</p>
            {% if uploaded_travelogues %}
                {% for travelogue in uploaded_travelogues %}
                <div class="w-3/5 flex flex-col mx-auto rounded-lg bg-theme p-5 shadow-md mb-16">
                    <div class="flex w-full justify-center mb-4" style="height: 3%;">
                        <span class="font-medium text-2xl">{{ travelogue.title }}</span>
                    </div>
                    <hr class="mb-4">
                    <div class="flex flex-row text-lg text-justify" style="height:87%;">
                        <div class="flex flex-col justify-center items-center w-1/3 h-auto">
                            <img src="{{ travelogue.image1.url }}" alt="" class="mb-6">
    
                            {% if travelogue.image2 %}
                                <img src="{{ travelogue.image2.url }}" alt="">
                            {% endif %}
                        </div> 
                        <div class="flex w-2/3 h-auto px-10">
                            <div class="flex justify-center w-full  mb-4">
                                <span class="">{{ travelogue.description |safe }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="flex w-full justify-end text-lg px-8 mt-6" style="height:10%;">
                        <span class="font-medium py-1">Travelogue Status:  </span><span class="py-1 px-6 ml-2 text-white rounded-md {% if travelogue.is_approved == 'Approved' %} bg-custom-green {% elif travelogue.is_approved == 'Pending' %} bg-custom-orange {% elif travelogue.is_approved == 'Rejected' %} bg-danger {% else %} {% endif %} ">{{ travelogue.is_approved }}</span>

                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
