{% extends 'base/header.html' %}
{% load static %}
{% load user_group %}

{% block title%} Home Page {% endblock title%}

{% block headercontent %}
    <div class="flex flex-col h-screen bg-white">
        <div class="flex flex-row h-24 bg-theme mx-60 mt-16 shadow-lg rounded-full border-medium-gray border-2 text-lg">
            <div class="flex flex-col border-r-2 border-r-dark-gray" style="width:33%;">
                <div class="mx-8 my-auto font-medium">
                    Where  
                    <form>
                        <input placeholder="City, Loaction" class="bg-theme py-1 w-full">
                    </form>                      
                </div>                    
            </div>
            <div class="flex flex-row" style="width:33%;">
                <div class="flex flex-col w-1/2 ml-5 mr-5 my-auto font-medium">
                    From  
                    <form>
                        <input placeholder="Date" class="bg-theme py-1 w-full">
                    </form>                      
                </div>   

                <div class=" flex flex-col ml-5 mr-5 my-auto font-medium float-right">
                    &nbsp;
                    <form>
                        <input placeholder="time" class="bg-theme py-1 w-full">
                    </form>                      
                </div>   
            </div>
            <div class="flex  border-l-2 border-l-dark-gray" style="width:30%;">
                <div class="flex flex-col w-1/2 ml-5 mr-5 my-auto font-medium">
                    Until  
                    <form>
                        <input placeholder="Date" class="bg-theme py-1 w-full">
                    </form>                      
                </div>   

                <div class=" flex flex-col ml-5 mr-5 my-auto font-medium float-right">
                    &nbsp;
                    <form>
                        <input placeholder="time" class="bg-theme py-1 w-full">
                    </form>                      
                </div>   
            </div>
            <div class="flex" style="width:3%;">
                
                <img src="{% static 'images/search.svg' %}" alt="" class="w-10 ">
            </div>
        </div>

        <div class="mx-60 mb-16 flex flex-row bottom-0 absolute items-center z-10">
            <div class="flex ">
                <img src="{% static 'images/home_vehicle_1.png' %}" alt="" class="h-96 w-auto mb-10">
            </div>
            <div class="flex ">
                <a href="{% url 'view_vehicles' %}" class="text-9xl text-right hover:cursor-pointer hover:text-dark-gray">
                    Find Your drive.
                </a>
            </div>
        </div>
    </div>
    
{% endblock headercontent %}        

{% block content %}
    <div class="h-[50vh] bg-theme">
        <div class="justify-center h-full flex items-center">
            <span class="text-7xl">
                Explore your local car sharing marketplace.
            </span>
        </div>
        
    </div>
    <div class="h-[55vh] flex  flex-col justify-evenly text-xl">
        <div class="mx-60">
            <span class="font-medium text-2xl">Browse by make</span>
        </div>

        <div class="flex flex-row justify-between items-center mx-60">
            <div class="featured-card bg-white">
                <div class="featured-inner-div flex justify-center items-center bg-theme">
                    <img src="{% static 'images/jeep.png' %}" alt="" >
                </div>
                <p class="featured-inner-text">Jeep</p>
            </div>
            <div class="featured-card bg-white">
                <div class="featured-inner-div flex justify-center items-center bg-theme">
                    <img src="{% static 'images/mini-van.png' %}" alt="" class="h-40 w-auto">
                </div>
                <p class="featured-inner-text">Mini-Van</p>
            </div>
            <div class="featured-card bg-white">
                <div class="featured-inner-div flex justify-center items-center bg-theme">
                    <img src="{% static 'images/suv.png' %}" alt="" class="h-32 w-auto">
                </div>
                <p class="featured-inner-text">SUV</p>
            </div>
            <div class="featured-card bg-white">
                <div class="featured-inner-div flex justify-center items-center bg-theme">
                    <img src="{% static 'images/sedan.png' %}" alt="" class="h-32 w-auto">
                </div>
                <p class="featured-inner-text">Sedan</p>
            </div>
            <div class="featured-card bg-white">
                <div class="featured-inner-div flex justify-center items-center bg-theme">
                    <img src="{% static 'images/others.png' %}" alt="" class="h-20 w-auto">
                </div>
                <p class="featured-inner-text">Others</p>
            </div>

        </div>
    </div>
    
    <div class="h-[55vh] bg-theme flex  flex-col justify-evenly text-xl">
        <div class="mx-60">
            <span class="font-medium text-2xl">Also available at</span>
        </div>

        <div class="flex flex-row justify-between items-center mx-60">
            <div class="featured-card bg-theme">
                <div class="featured-inner-div">
                    <img src="{% static 'images/kathmandu.png' %}" alt="">
                </div>
                <p class="featured-inner-text">Kathmandu</p>
            </div>
            <div class="featured-card bg-theme">
                <div class="featured-inner-div">
                    <img src="{% static 'images/pokhara.png' %}" alt="">
                </div>
                <p class="featured-inner-text">Pokhara</p>
            </div>
            <div class="featured-card bg-theme">
                <div class="featured-inner-div">
                    <img src="{% static 'images/lumbini.png' %}" alt="">
                </div>
                <p class="featured-inner-text">Lumbini</p>
            </div>
            <div class="featured-card bg-theme">
                <div class="featured-inner-div">
                    <img src="{% static 'images/chitwan.png' %}" alt="">
                </div>
                <p class="featured-inner-text">Chitwan</p>
            </div>
            <div class="featured-card bg-theme">
                <div class="featured-inner-div">
                    <img src="{% static 'images/janakpur.png' %}" alt="">
                </div>
                <p class="featured-inner-text">Janakpur</p>
            </div>

        </div>
    </div>

    <div class="h-screen">

    </div>
{% endblock content %}
