{% extends 'base/header.html' %}
{% load static %}
{% load user_group %}

{% block title%} Home Page {% endblock title%}

{% block content %}
    <div class="flex flex-col h-screen bg-white">
        <form class="flex flex-row h-24 bg-theme mx-60 mt-40 shadow-lg rounded-full border-medium-gray border-2 text-lg" action={% url 'view_vehicles' %}>
                <div class="flex flex-col border-r-2 border-r-dark-gray" style="width:33%;">
                    <div class="mx-8 my-auto font-medium">
                        Where: {{ form.loc }}
                    </div>
                </div>
                <div class="flex flex-row" style="width:33%;">
                    <div class="flex flex-col w-1/2 ml-5 mr-5 my-auto font-medium">
                        From:
                            {{ form.sdate }}

                    </div>
                </div>
                <div class="flex  border-l-2 border-l-dark-gray" style="width:30%;">
                    <div class="flex flex-col w-1/2 ml-5 mr-5 my-auto font-medium">
                        Until:
                            {{ form.edate }}

                    </div>
                </div>
                <div class="flex cursor-pointer" style="width:3%;">
                     <button type="submit"><img src="{% static 'images/search.svg' %}" alt="" class="w-10 "></button>
                </div>
        </form>

        <div class="mx-60 mb-16 flex flex-row bottom-0 absolute items-center z-10">
            <div class="flex ">
                <img src="{% static 'images/home_vehicle_1.png' %}" alt="" class="h-96 w-auto mb-10">
            </div>
            <div class="flex ">
                <a href="{% url 'view_vehicles' %}" class="text-9xl text-right hover:cursor-pointer hover:text-dark-gray">
                    Find Your drive.
                </a>
            </div>
        </div>
    </div>
    
    <div class="h-[50vh] bg-theme">
        <div class="justify-center h-full flex items-center">
            <span class="text-7xl">
                Explore your local car sharing marketplace.
            </span>
        </div>

    </div>
    <div class="h-[55vh] flex  flex-col justify-evenly text-xl">
        <div class="mx-60">
            <span class="font-medium text-2xl">Browse by make</span>
        </div>

        <div class="flex flex-row justify-between items-center mx-60">
            <a class="featured-card bg-white" href="{% url 'view_vehicles' id=1 value="Jeep" %}">
                <div class="featured-inner-div flex justify-center items-center bg-theme">
                    <img src="{% static 'images/jeep.png' %}" alt="" >
                </div>
                <p class="featured-inner-text">Jeep</p>
            </a>
            <a class="featured-card bg-white" href="{% url 'view_vehicles' id=1 value="Mini-Van" %}">
                <div class="featured-inner-div flex justify-center items-center bg-theme">
                    <img src="{% static 'images/mini-van.png' %}" alt="" class="h-40 w-auto">
                </div>
                <p class="featured-inner-text">Mini-Van</p>
            </a>
            <a class="featured-card bg-white" href="{% url 'view_vehicles' id=1 value="SUV" %}">
                <div class="featured-inner-div flex justify-center items-center bg-theme">
                    <img src="{% static 'images/suv.png' %}" alt="" class="h-32 w-auto">
                </div>
                <p class="featured-inner-text">SUV</p>
            </a>
            <a class="featured-card bg-white" href="{% url 'view_vehicles' id=1 value="Sedan" %}">
                <div class="featured-inner-div flex justify-center items-center bg-theme">
                    <img src="{% static 'images/sedan.png' %}" alt="" class="h-32 w-auto">
                </div>
                <p class="featured-inner-text">Sedan</p>
            </a>
            <a class="featured-card bg-white" href="{% url 'view_vehicles' id=1 value="Other" %}">
                <div class="featured-inner-div flex justify-center items-center bg-theme">
                    <img src="{% static 'images/others.png' %}" alt="" class="h-20 w-auto">
                </div>
                <p class="featured-inner-text">Other</p>
            </a>

        </div>
    </div>
    
    <div class="h-[55vh] bg-theme flex  flex-col justify-evenly text-xl">
        <div class="mx-60">
            <span class="font-medium text-2xl">Also available at</span>
        </div>

        <div class="flex flex-row justify-between items-center mx-60">
            <a class="featured-card bg-theme" href="{% url 'view_vehicles' id=2 value="Kathmandu" %}">
                <div class="featured-inner-div">
                    <img src="{% static 'images/kathmandu.png' %}" alt="">
                </div>
                <p class="featured-inner-text">Kathmandu</p>
            </a>
            <a class="featured-card bg-theme" href="{% url 'view_vehicles' id=2 value="Pokhara" %}">
                <div class="featured-inner-div">
                    <img src="{% static 'images/pokhara.png' %}" alt="">
                </div>
                <p class="featured-inner-text">Pokhara</p>
            </a>
            <a class="featured-card bg-theme" href="{% url 'view_vehicles' id=2 value="Lumbini" %}">
                <div class="featured-inner-div">
                    <img src="{% static 'images/lumbini.png' %}" alt="">
                </div>
                <p class="featured-inner-text">Lumbini</p>
            </a>
            <a class="featured-card bg-theme" href="{% url 'view_vehicles' id=2 value="Chitwan" %}">
                <div class="featured-inner-div">
                    <img src="{% static 'images/chitwan.png' %}" alt="">
                </div>
                <p class="featured-inner-text">Chitwan</p>
            </a>
            <a class="featured-card bg-theme" href="{% url 'view_vehicles' id=2 value="Janakpur" %}">
                <div class="featured-inner-div">
                    <img src="{% static 'images/janakpur.png' %}" alt="">
                </div>
                <p class="featured-inner-text">Janakpur</p>
            </a>

        </div>
    </div>

    <div class="h-screen flex flex-col justify-evenly">
        <div class="flex flex-col items-center  ">
            <p class="text-5xl font-medium">Fuel your daydreams</p>
            <p class="text-dark-gray text-xl mt-8">Some lucid photo diaries of road trip adventures that stoke your wanderlust.</p>
        </div>
        <div class="flex flex-col items-center">
            <a href="{% url 'all_travelogues' %}" class="text-white text-xl py-4 px-12  bg-black">Explore Travelogues</a>
        </div>
        <div class="flex flex-col w-2/3 mx-auto justify-center">
            <div class="flex justify-center mx-auto relative w-1/2">
                <img src="{% static 'images/travelogue.jpg' %}" alt="" class="relative">
            </div>
            <div class="flex flex-col ml-32 w-80 h-60 bg-black absolute  px-4 justify-evenly">
                <p class="text-white font-medium text-sm">FEATURED TRAVELOGUE</p>

                <p class="text-white font-medium">Topic dnc nfakdfkafkjdjdafn  fdnun fidsnja dnfk dbsHb  dnk</p>

                <a href="#" class="text-white font-medium underline text-sm">Read More</a>
            </div>
            
        </div> 
        
    </div>
    {% if not user.is_authenticated %}
    <div class="h-auto bg-theme w-full">
        <div class="h-auto flex flex-col w-3/5 mx-auto relative">
            <div class="h-auto w-full py-16 flex justify-center relative">
                <img src="{% static 'images/home-bg.png' %}" alt="" class="w-full h-auto">
                
            </div>
            <div class="flex flex-row w-full h-full  absolute py-10">
                <div class="h-full flex flex-col w-1/2">
                    <div class="h-1/2 flex px-32 flex-col justify-end items-center w-full pb-16">
                        <span class="text-3xl font-semibold text-center mb-4"><a href="{% url 'register_host' %}" class=" hover:underline">Become a host ></a></span>
                        <span class="font-medium text-lg text-center">Accelerate your entrepreneurship and start building a small car sharing business on Yatra.</span>
                    </div>
                    <div class="h-1/2 w-full flex justify-end">
                        <img src="{% static 'images/renter.png' %}" alt="">
                    </div>
                </div>
                <div class="h-full w-1/2">
                    <div class="h-1/2 w-full flex justify-start">

                        <img src="{% static 'images/host.png' %}" alt="" class="ml-8">
                        
                    </div>
                    <div class="h-1/2 flex px-28 flex-col justify-start items-center w-full pt-16">

                        <span class="text-3xl font-semibold text-center mb-4"><a href="{% url 'register_enduser' %}" class=" hover:underline">Become a renter ></a></span>
                        <span class="font-medium text-lg text-center">Find the ideal car for your upcoming adventure, whether it be down the road or across the nation.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="flex flex-row justify-between px-5 bg-black h-auto py-10 text-white">
        <span><a href="{% url 'home' %}" class="text-4xl font-semibold">YATRA</a></span>
        <span class="mt-3"><a href="{% url 'terms_and_conditions' %}" class="text-xl font-medium">Terms and Conditions</a></span>
        <span class="mt-3"><a href="{% url 'privacy_policy' %}" class="text-xl font-medium">Privacy Policy</a></span>
        <span class="mt-3"><a href="{% url 'faqs' %}" class="text-xl font-medium">FAQs.</a></span>
    </div>
{% endblock content %}