<!DOCTYPE html>
{% load tailwind_tags %}
{% load static %}
{% load widget_tweaks %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>After Reset Password</title>
    {% tailwind_css %}
</head>
<body class="font-poppins flex flex-col h-[90vh]">
    <img src="{% static 'images/landing_backdrop.png' %}" alt=""
            class="backdrop-theme">
    <div class="flex flex-row w-full py-2 px-12">
        <img src="{% static 'images/ICK_with_ING_Logo.png' %}" alt="" class="w-52">
    </div>
    <div class="h-full flex justify-center items-center relative mt-5 mb-5">
        <div class="container mx-auto">
            <div class="w-2/4 bg-white mx-auto rounded-xl">

                <div class="flex flex-col">
                    <div class="flex justify-center mt-5 py-12">
                        <img src="{% static 'images/reset.png' %}" class="w-20" alt="">
                    </div>
                    <p class="text-center text-font22 font-medium pb-3">Password Reset Sent</p>
                    <p class="text-center text-links px-32 text-font15">We have sent a password reset in your email.</p>
                    <p class="text-center text-links px-30 text-font15 pb-24">If your do not receive the email, please check the credientials you entered.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>