<!DOCTYPE html>
{% load tailwind_tags %}
{% load static %}
{% load widget_tweaks %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    {% tailwind_css %}
</head>
<body class="font-poppins flex flex-col h-screen bg-theme">
    <div class="h-full flex justify-center items-center text-xl">
        <div class="container mx-auto">
            <div class="w-2/4 bg-white mx-auto shadow">
                <div class="bg-black text-white px-4 py-4"> 
                    Reset Password
                </div>

                <div class="flex flex-col">
                    <p class="text-center mt-10 px-10  text-xl">Enter your email address below, and we'll email instructions for setting a new one.</p>
                    <form class="w-full flex flex-col" method="post">
                        {% csrf_token %}
                        {% render_field form.email|attr:"autofocus" class="input-fields text-center mx-36 mt-16" placeholder="Email" onkeyup="this.value = this.value.toLowerCase();" %}
                        {% if form.errors %}
                            {% for field in form %}
                               {% for error in field.errors %}
                                  <div class="alert alert-danger py-4 px-4 mt-5 mx-36">
                                       <span style="font-size: 14px;">{{ error|escape }}</span>
                                  </div>
                               {% endfor %}
                            {% endfor %}
                        {% endif %}
                        <div class="flex w-full justify-center mb-16">
                            <button type="submit"  class="form-control py-3 w-80 m-10 bg-black text-white px-3 rounded-md">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>