{% load tailwind_tags %}
{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Change Complete</title>
    {% tailwind_css %}
</head>

<body class="font-poppins bg-theme flex flex-col h-screen">
    <div class="h-full relative flex justify-center items-center">
        <div class="container mx-auto">
            <div class="w-2/4 bg-white mx-auto rounded-xl shadow">

                <div class="flex flex-col">
                    <div class="flex justify-center mt-5 py-12">
                        <img src="{% static 'images/success.png' %}" class="w-20" alt="">
                    </div>
                    <p class="text-center text-font22 font-medium pb-3">Password change complete!</p>
                    <p class="text-center text-links px-32 text-lg">Your password has been changed.</p>
                    <p class="text-center text-links px-30 text-lg pb-24">Redirecting to index page.</p>
                </div>
            </div>
        </div>
    </div>

    <script>
      setTimeout('Redirect()', 3000);
        function Redirect()
        {
            window.location="{% url 'home' %}";
        }
    </script>
</body>

</html>