{% load tailwind_tags %}
{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Password Reset Complete</title>

    {% tailwind_css %}

</head>

<body class="font-poppins flex flex-col h-screen">
    <div class="h-full flex justify-center items-center relative mt-5 mb-5">
        <div class="container mx-auto">
            <div class="w-2/4 bg-theme shadow-xl mx-auto rounded-xl">

                <div class="flex flex-col">
                    <div class="flex justify-center mt-5 py-12">
                        <img src="{% static 'images/success.png' %}" class="" alt="">
                    </div>

                    <p class="text-center text-xl font-medium pb-5">Password reset complet</p>
                    <p class="text-center px-10 text-xl mb-12">Your password has been set. Redirecting to login page.</p>
                </div>
            </div>
        </div>
    </div>
</body>
    <script>
        setTimeout('Redirect()', 3000);
            function Redirect()
            {
                window.location="{% url 'login' %}";
            }
    </script> 
</body>
</html>