<!DOCTYPE html>
{% load tailwind_tags %}
{% load static %}
{% load widget_tweaks %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>After Reset Password</title>
    {% tailwind_css %}
</head>
<body class="font-poppins flex flex-col h-screen">
    <div class="h-full flex justify-center items-center relative mt-5 mb-5">
        <div class="container mx-auto">
            <div class="w-2/4 bg-theme shadow-xl mx-auto rounded-xl">

                <div class="flex flex-col">
                    <div class="flex justify-center mt-5 py-12">
                        <img src="{% static 'images/reset.png' %}" class="" alt="">
                    </div>
                    <p class="text-center text-xl font-medium pb-5">Password Reset Sent</p>
                    <p class="text-center px-10 text-xl mb-5">We have sent a password reset in your email.</p>
                    <p class="text-center  text-xl  pb-24">If your do not receive the email, please check the credientials you entered.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>