{% load tailwind_tags %}
{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    {% tailwind_css %}
</head>
<body class="font-poppins flex flex-col h-screen bg-theme">
    <div class="h-full flex justify-center items-center text-xl">
        <div class="container mx-auto">
            <div class="w-2/4 bg-white mx-auto shadow">
                <div class="bg-black text-white px-4 py-4"> 
                    Change Password
                </div>

                <div class="flex flex-col">

                    <form class="w-full flex flex-col" method="post">
                        {% csrf_token %}
                        {% render_field form.old_password|attr:"autofocus" class="input-fields text-center mx-36 mt-16" id="floatingInput" placeholder="Old Password"  %}
                        {% render_field form.new_password1 class="input-fields text-center mx-36"  id="floatingInput" placeholder="New Password"  %}
                        {% render_field form.new_password2 class="input-fields text-center mx-36" id="floatingInput" placeholder="Confirm New Password" %}

                        {% if form.errors %}
                            {% for field in form %}
                               {% for error in field.errors %}
                                  <div class="text-red text-center py-4 px-4 mt-5 mx-36">
                                       <span style="font-size: 14px;">{{ error|escape }}</span>
                                  </div>
                               {% endfor %}
                            {% endfor %}
                        {% endif %}
                        <div class="flex w-full justify-center">
                        <button type="submit" class="form-control py-3 w-80 m-10 bg-black text-white px-3 rounded-md">Reset Password</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>